@import './mixins.scss';

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
div,
dl,
dt,
dd,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  word-wrap: break-word;
  word-break: break-all;
}

ol,
ul {
  list-style: none;
}

  
  body {
    font-family: "PingFang SC", sans-serif;
  }
  
  ::-webkit-scrollbar {
   width: 8px;
   height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(#000000, 0.2);
    border-radius: 4px;
    border: none !important;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(#000000, 0.3);
    border-radius: 4px;
    border: none !important;
  }
  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-button {
    background: none;
  }
    
  input,
  button,
  textarea,
  :focus {
    outline: none;
  }

  
.es {
  @include ellipsis;
}

.flex {
  display: flex;
}
.flex_sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex_sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex_1 {
  flex: 1;
}

.flex_2 {
  flex: 2;
}

.flex_3 {
  flex: 3;
}
